{% extends "base.html" %}

{% block contents %}

<div class="hero-unit">
  <table class="table">
  	<thead>
  	  <tr>
  	  	<th>Second</th>
  	  	<th>Pressure</th>
  	  	<th>Temperature</th>
  	  </tr>
  	</thead>
  	<tbody>
  	  {% for seconds in shotdata %}
  	    <tr>
  	      <th>{{ seconds }}</th>
  	      <th>
  	        <div class="progress">
              <div class="bar bar-success" style="width:50%"></div>
            </div>
          </th>
        </tr>
  	  {% endfor %}
  	</tbody>
  </table>
</div>

{% endblock %}