{% extends "base.html" %}
{% load url from future %}

{% block contents %}

<!DOCTYPE html>
<meta charset="utf-8">

<link href="/static/d3js/novus-nvd3-81bccd2/src/nv.d3.css" rel="stylesheet" type="text/css">

<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

svg {
  display: block;
}

#temperature_line_chart svg {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}
#on_off_status_bar_chart {
  height: 100px;
/*  margin: 10px;
*/
  min-width: 100px;
  min-height: 100px;
}

</style>
<body>
  <div id="chart-container">

    <h1 class="text-center">Diagnostics</h1>

    <div id="temperature_line_chart">
      <svg style="height: 500px;"></svg>
    </div>

    <div id="on_off_status_bar_chart">
      <svg></svg>
    </div>

  </div>

<script src="/static/d3js/novus-nvd3-81bccd2/lib/d3.v2.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/nv.d3.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/tooltip.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/utils.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/models/legend.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/models/axis.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/models/scatter.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/models/line.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/models/lineChart.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/models/multiBar.js"></script>
<script src="/static/d3js/novus-nvd3-81bccd2/src/models/multiBarChart.js"></script>
<script>




// Wrapping in nv.addGraph allows for '0 timeout render', stores rendered charts in nv.graphs, and may do more in the future... it's NOT required

var chart;

nv.addGraph(function() {
  chart = nv.models.lineChart();

  chart
      .x(function(d,i) { return i })


  chart.xAxis // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the parent chart, so need to chain separately
      .axisLabel('Time in seconds')
      .tickFormat(d3.format(',f'));
//      .tick line { stroke: #666; stroke-width: .5px; }

  chart.yAxis
      .axisLabel('Temperature')
      .tickFormat(d3.format(',.1f'));

  d3.select('#temperature_line_chart svg')
      .datum(line_graph())
    .transition().duration(500)
      .call(chart);

  nv.utils.windowResize(chart.update);
  //nv.utils.windowResize(function() { d3.select('#on_off_status_bar_chart svg').call(chart) });

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});

nv.addGraph(function() {
    chart = nv.models.multiBarChart()
//      .barColor(d3.scale.category20().range());

    chart.xAxis
        .showMaxMin(true)
// .1 for 1 decimal, etc+
        .tickFormat(d3.format(',f'));;
//        .tick line { stroke: #666; stroke-width: .5px; }

    chart.yAxis
        .tickFormat(d3.format(',f'));

    d3.select('#on_off_status_bar_chart svg')
        .datum(bar_graph())
      .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

    return chart;
});



function line_graph() {

  return [
    {
      area: false,
      values: [{x:0, y:205.5}, {x:1, y:205.5}, {x:2, y:205.2}, {x:3, y:205.2}, {x:4, y:205.5}, {x:5, y:205.6}, {x:6, y:205.4}, {x:7, y:205.5}, {x:8, y:205.8}, {x:9, y:205.2}, {x:10, y:205.5}, {x:11, y:205.1}, {x:12, y:205.2}, {x:13, y:205.5}, {x:14, y:205.5}, {x:15, y:205.2}, {x:16, y:205.5}, {x:17, y:205.6}, {x:18, y:204.2}, ],
      key: "Temperature",
      color: "#ff7f0e"
    },
/*    {
      area: true,
      values: [{x:1, y:205.5}, {x:2, y:205.2}, {x:3, y:205.2}, {x:4, y:205.5}, {x:5, y:205.6}, {x:6, y:205.4}, {x:7, y:205.5}, {x:8, y:205.8}, {x:9, y:205.2}, {x:10, y:205.5}, {x:11, y:205.1}, {x:12, y:205.2}, {x:13, y:205.5}, {x:14, y:205.5}, {x:15, y:205.2}, {x:16, y:205.5}, {x:17, y:205.6}, {x:18, y:204.2}, ],
      key: "Undefined",
      color: "#2ca02c"
    },
    {
      area: false,
      values: [{x:1, y:190.0}, {x:1, y:190.0}, ],
      key: "Boundary Fudge",
      color: "#2ca02c"
    },
    {
      area: false,
      values: [{x:1, y:212.0}, {x:1, y:212.0}, ],
      key: "Boundary Fudge 2",
      color: "#2ca02c"
    }
*/
  ];
}

function bar_graph() {

  return [
    {
      area: false,
      values: [{x:0, y:0}, {x:1, y:1}, {x:2, y:1}, {x:3, y:1}, {x:4, y:1}, {x:5, y:1}, {x:6, y:1}, {x:7, y:1}, {x:8, y:1}, {x:9, y:1}, {x:10, y:1}, {x:11, y:1}, {x:12, y:1}, {x:13, y:1}, {x:14, y:1}, {x:15, y:1}, {x:16, y:1}, {x:17, y:1}, {x:18, y:0}, ],
      key: "Group 1 On",
      color: "#ff7f0e"
    },
    {
      area: false,
      values: [{x:0, y:0}, {x:1, y:0}, {x:2, y:0}, {x:3, y:0}, {x:4, y:0}, {x:5, y:0}, {x:6, y:0}, {x:7, y:0}, {x:8, y:0}, {x:9, y:0}, {x:10, y:0}, {x:11, y:0}, {x:12, y:0}, {x:13, y:0}, {x:14, y:0}, {x:15, y:0}, {x:16, y:0}, {x:17, y:0}, {x:18, y:1}, ],
      key: "Group 2 On",
      color: "#ffff0e"
    },
    {
      area: false,
      values: [{x:0, y:0}, {x:1, y:0}, {x:2, y:0}, {x:3, y:0}, {x:4, y:0}, {x:5, y:0}, {x:6, y:0}, {x:7, y:0}, {x:8, y:0}, {x:9, y:0}, {x:10, y:0}, {x:11, y:0}, {x:12, y:0}, {x:13, y:0}, {x:14, y:0}, {x:15, y:0}, {x:16, y:0}, {x:17, y:0}, {x:18, y:1}, ],
      key: "Group 3 On",
      color: "#ffgf0e"
    },
    {
      area: true,
      values: [{x:0, y:0}, {x:1, y:0}, {x:2, y:0}, {x:3, y:0}, {x:4, y:0}, {x:5, y:0}, {x:6, y:0}, {x:7, y:0}, {x:8, y:0}, {x:9, y:0}, {x:10, y:0}, {x:11, y:0}, {x:12, y:0}, {x:13, y:0}, {x:14, y:0}, {x:15, y:0}, {x:16, y:0}, {x:17, y:0}, {x:18, y:1}, ],
      key: "Main Boiler Fill",
      color: "#2ca02c"
    }
  ];
}


</script>

{% endblock %}
